<header>
    <div class="container">
        <div class="next">
        <div class="imgk">
            <img src="../../../../assets/f.png" alt="food">
        </div>
        <a routerLink="/" class="logo">FOODLIE</a>

    </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Gautam</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">Cart <span *ngIf="cartQuantity">{{cartQuantity}} </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>